{{define "footer"}}
<footer>
  <hr>
  <p class="text-center">Please route all feedback and requests to: <a href="https://rover.redhat.com/people/profile/apevec/">Alan Pevec</a>,
  <a href="mailto:apevec@redhat.com"><i class="fa fa-envelope"></i> apevec@redhat.com</a></p>
  <p class="text-center">Available on <a href="https://github.com/arapov/pile" target="_blank">GitHub</a></p>
</footer>
{{end}}
