{{define "title"}}Roster: Heads{{end}}
{{define "head"}}
	{{JS "/static/js/vue.min.js"}}
	{{JS "/static/js/vue-resource.min.js"}}
{{end}}
{{define "content"}}
<div id="head">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">DFGs' Heads</h2>
		</div>

		<table id="datatable" class="table table-striped table-hover">
			<thead>
				<tr>
					<th>DFG</th>
					<th>Role</th>
					<th>Name</th>
					<th>Email</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="head in heads">
					<td>${head.group}</td>
					<td>${head.role}</td>
					<td><a :href="'https://rover.redhat.com/people/profile/' + head.uid + '/'">${head.name}</a></td>
					<td>${head.uid}@redhat.com</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	let head = new Vue({
		el: '#head',
		delimiters: ['${', '}'],
		data: {
			heads: [],
		},
		mounted: function() {
			this.$http.get('/roster/v2/groups/heads').then(function(response) {
				this.heads = response.body
			})
		},
		updated: function() {
			$('#datatable').DataTable({paging: false})
		}
	});
</script>

{{JS "/static/js/jquery.dataTables.min.js"}}
{{template "footer" .}}{{end}}
{{define "foot"}}{{end}}