{{define "title"}}DFG list (Drafting){{end}}
{{define "head"}}
	{{JS "/static/js/vue.min.js"}}
	{{JS "/static/js/jquery.flip.min.js"}}
<style>
.card-grid {
  width: 500px;
  height: 300px;
  margin: 20px;
  display: inline-block;
}

.card-grid .front, .card-grid .back {
  padding: 5px;
  border: 1px #333 solid;
  border-radius: 10px;
}

.card-grid .front {
  background-color: #fff;
}

.card-grid .back {
  background-color: #444;
  color: white;
}

.card > .back{
  word-wrap: break-word;
}
</style>
{{end}}
{{define "content"}}
	<div class="container"><h1>Render Corporate LDAP, RHOS-wise!</h1></div>
		<div id="exTab1" class="container">	
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#0a" data-toggle="tab">DFG Cards</a>
				</li>
				<li>
					<a href="#1a" data-toggle="tab">DFG Tables</a>
				</li>
				<li>
					<a href="#2a" data-toggle="tab">DFG People</a>
				</li>
				<li>
					<a href="#3a" data-toggle="tab">Sanity Check</a>
				</li>
			</ul>

			<div id="app" class="tab-content clearfix">

				<div class="tab-pane active" id="0a">

					<div id="grid-containter">

						<div v-for="(iter, dfg) in dfgs" class="card-grid">
							<div class="front"><h2 class="text-center">${iter.core} &nbsp;<span><i class="fa fa-share" aria-hidden="true"></i></span></h2>
								<template v-for="(desc, squad) in iter">
									<template v-if="squad === 'core'">
										<template v-for="(foo, uid) in people">
											<template v-for="belong in foo.Dfg">
												<template v-if="belong === dfg && uid !== 'aarapov'">
													<template v-for="rr in foo.Role">
														<ul>
														<li v-if="rr === 'rhos-pm'">Product Manager: <a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></li>
														<li v-else-if="rr === 'rhos-ua'">User Advocate: <a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></li>
														<li v-else-if="rr === 'rhos-tc'">Team Catalyst: <a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></li>
														<li v-else-if="rr === 'rhos-stewards-em'">Steward Engineering: <a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></li>
														<li v-else-if="rr === 'rhos-stewards-qe'">Steward Quality: <a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></li>
														<li v-else-if="rr === 'rhos-squad-lead'">Squad Lead: <a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></li>
														<li v-else>none: <a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></li>
														</ul>
													</template>
												</template>
											</template>
										</template>
									</template>
								</template>
							</div>
							<div class="back">
								<h1 class="text-center">TripleO FTW! ;-)</h1>
							</div>
						</div>

					</div>
				</div>

				<div class="tab-pane" id="1a">
					<div v-for="(iter, dfg) in dfgs" class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th colspan="6">${iter.core}</th>
								</tr>
							</thead>
							<tbody>
								<template v-for="(desc, squad) in iter">
									<template v-if="squad === 'core'">
										<template v-for="(foo, uid) in people">
											<template v-for="belong in foo.Dfg">
											<tr v-if="belong === dfg">
												<td><a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></td>
												<td>${foo.Role}</td>
												<td>${foo.Mail}</td>
												<td>${foo.Mobile}</td>
												<td>${foo.Location}</td>
												<td>${foo.Title}</td>
											</tr>
											</template>
										</template>
									</template>
									<template v-else>
									<tr>
										<th colspan="6"><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; ${desc}</th>
									</tr>
									</template>
									<template v-for="(foo, uid) in people">
										<template v-for="belong in foo.Dfg">
											<tr v-if="belong === squad">
												<td><a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></td>
												<td>${foo.Role}</td>
												<td>${foo.Mail}</td>
												<td>${foo.Mobile}</td>
												<td>${foo.Location}</td>
												<td>${foo.Title}</td>
											</tr>
										</template>
									</template>
								</template>
							</tbody>
						</table>
					</div>
				</div>

				<div class="tab-pane" id="2a">
					<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th>DFG</th>
								<th>Role</th>
								<th>Name</th>
								<th>Mail</th>
							</tr>
						</thead>
						<tbody>
							<template v-for="(iter, dfg) in dfgs">
								<template v-for="(desc, squad) in iter">
									<template v-if="squad === 'core'">	
										<template v-for="(foo, uid) in people">
											<template v-for="belong in foo.Dfg">
												<tr v-if="belong === dfg">
													<td>${desc}</td>
													<td>${foo.Role}</td>
													<td><a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></td>
													<td>${foo.Mail}</td>
												</tr>
											</template>
										</template>
									</template>
									<template v-else>
										<template v-for="(foo, uid) in people">
											<template v-for="belong in foo.Dfg">
												<tr v-if="belong === squad">
													<td><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp; ${desc}</td>
													<td>${foo.Role}</td>
													<td><a v-bind:href="'https://rover.redhat.com/people/profile/' + uid + '/'">${foo.Cn}</a></td>
													<td>${foo.Mail}</td>
												</tr>
											</template>
										</template>
									</template>
								</template>
							</template>
						</tbody>
					</table>
					</div>
				</div>

				<div class="tab-pane" id="3a">
					<h3>TODO</h3>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
$(function(){
	$(".card-grid").flip({
		trigger: 'click',
		axis: 'y'
	});

});

let app = new Vue({
	el: '#app',
	delimiters: ['${', '}'],
	data: {
		dfgs: $.parseJSON(atob({{.dfgs}})),
		people: $.parseJSON(atob({{.people}}))
  }
})
</script>

	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}
