{{define "title"}}Roster{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="container"><h1>Render Corporate LDAP, RHOS-wise!</h1></div>

	<h1><a href="/roster">go to /Roster</a></h1>

	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}
