{{define "title"}}About{{end}}
{{define "head"}}{{end}}
{{define "content"}}
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>Like it? Share your experience or just contact me: aarapov@redhat.com</p>
	{{template "footer" .}}
{{end}}
{{define "foot"}}{{end}}
